.password-button {
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 0.5rem;
  border: none;
  background: #111;
  color: #eee;
}

.password-inputs {
  display: flex;
  flex-direction: row;
}

.password-input {
  border: 1px solid;
  padding: 1em;
  font-size: 1em;
  flex: 1;
  border-radius: 0.5rem;
  margin: 1em;
}

.password-buttons {
  display: flex;
  flex-direction: row;
}

.password-button {
  margin: 1em;
  font-weight: bold;
}

.password-button:nth-child(1) {
  flex: 2;
}

.password-button:nth-child(2) {
  flex: 1;
}